<%= javascript_include_tag "myloc.js" %>
<!--<div id="location"></div> -->
<div class="container">
<%- model_class = Issue -%>
<div class="page-header">
  <h2><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New Annotation") %></h2>
</div>
<%= render :partial => 'form' %>
</div>