<div class="container">

	<div class="hero-unit">
		
MashUpABQ! was created by a team of students in the Informatics Laboratory at the University of New Mexico.  MashUpABQ! consists of a Web application and an iPhone/iPad application that work together in order to allow City employees, Albuquerque residents and visitors to collaborate through data-driven interactions.  These interactions take place within a mashup framework that includes the City of Albuquerque data sets, as well as data sets from other arbitrary sources.  Users may add their own annotations to any data set, which may include photos taken through the MashUpABQ! iPhone/iPad application or the Web application itself.  Using the iPhone/iPad app, these annotations are automatically tagged with location information that allows them to be displayed as a part of the mashup framework.
<p>The goal of MashUpABQ! is to enable collaborations over data sets that allow new information to be uncovered, leading to discoveries that may produce more efficient city operations, and an improved standard of living for Albuquerque residents. </p>
	</div>
    <div class="row">
    	<div class="span4">
    		<div class="hero-unit2">
    			<h3>Snap it!</h3>
    			<p>Using your mobile device, snap a picture of anything in the Albuquerque area that interests or concerns you.</p>
                <br>
                <br>
    		</div>
    	</div>
    	<div class="span4">
    		<div class="hero-unit2">
    			<h3>Annotate it!</h3>
    			<p>Using either the MashUpABQ! <a href="http://abqcity.herokuapp.com/pages/home">Web application</a> or the mobile application (soon to be available at the Apple App Store) upload an annotation with your photo, and attach it to any appropriate data set.</p>
    		</div>
    	</div>
    	<div class="span4">
    		<div class="hero-unit2">
    			<h3>Mash it!</h3>
    			<p>Visit the <a href="http://abqcity.herokuapp.com/pages/home">MashUpABQ! Datasets</a> and mashup any of the available data sets (including their associated annotations) in order to make discoveries about Albuquerque.</p>
                <br>
    		</div>
    	</div>
    </div>

</div>