<div class="container">

	<div class="span12">
		<p>ABQ City data app lets you share your thoughts which you feel others should know for better understanding of a neighbourhood and other beautiful things</p>
	</div>
    <div class="row">
    	<div class="span4">
    		<div class="hero-unit2">
    			<h3>Snap it!</h3>
    			<p>Snap a picture of anything!</p>
    		</div>
    	</div>
    	<div class="span4">
    		<div class="hero-unit2">
    			<h3>Annotate it!</h3>
    			<p>Annotate it if found interesting</p>
    		</div>
    	</div>
    	<div class="span4">
    		<div class="hero-unit2">
    			<h3>Mash it!</h3>
    			<p>Share your thoughts to the world and make it a better place</p>
    		</div>
    	</div>
    </div>

</div>