// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table tr:nth-child(odd) { background-color:#DDDDDD; }
table tr:nth-child(even) { background-color:#EEEEEE; }

table tr th {
    padding: 10px;
}

table th { color:#FFFFFF; background-color:#000000; }

table tr td {
    padding: 0px 5px;
    font-size: 14px;
}

.navbar {
	color: #999999;
	margin-bottom: 8px;
	overflow:visible;
}

.navbar-inner {
    background-color: #2C2C2C;
    background-image: -moz-linear-gradient(center top , #333333, #222222);
    background-repeat: repeat-x;
    border-radius: 0 0 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .brand:hover {
    text-decoration: none;
}
.navbar .brand {
	color: #e34222;  
  #  color: #99BBFF;
    display: block;
    float: left;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    margin-left: -20px;
    padding: 8px 20px 12px;
}


.navbar .navbar-text {
    line-height: 40px;
    margin-bottom: 0;
}
.navbar .navbar-link {
    color: #999999;
}
.navbar .navbar-link:hover {
    color: #FFFFFF;
}
.navbar .btn, .navbar .btn-group {
    margin-top: 5px;
}
.navbar .btn-group .btn {
    margin: 0;
}

.navbar .nav > li {
    display: block;
    float: left;
}
.navbar .nav > li > a {
    color: #dbdb18;
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    display: block;
}

.navbar .nav > li > a:hover {
    color: #FFFFFF;
    float: none;
    line-height: 19px;
    padding: 9px 10px 11px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    display: block;
}
.navbar .btn {
    display: inline-block;
    line-height: 18px;
    margin: 5px 5px 6px;
    padding: 4px 10px;
}

#user_nav {
	float: right;
}

#user_nav a {
	background-color: #c10037;
	color: #ff;
}

table {
	width: 800px;
}

#container {
	padding: 0 10px 0;
}

body {
	margin-top: -10px;
}

table tr td {
	padding: 5px;
}

.google-button {
display: inline-block;
min-width: 54px;
text-align: center;
color: #555;
font-size: 11px;
font-weight: bold;
height: 27px;
padding: 0 8px;
line-height: 27px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-transition: all 0.218s;
-moz-transition: all 0.218s;
-ms-transition: all 0.218s;
-o-transition: all 0.218s;
transition: all 0.218s;
border: 1px solid gainsboro;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: whiteSmoke;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
cursor: default;
}

.google-button:hover {
border: 1px solid #C6C6C6;
color: #333;
text-decoration: underline;
-webkit-transition: all 0.0s;
-moz-transition: all 0.0s;
-ms-transition: all 0.0s;
-o-transition: all 0.0s;
transition: all 0.0s;
background-color: #F8F8F8;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.google-button:active {
background-color: #F6F6F6;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: -moz-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: -ms-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: -o-linear-gradient(top,#f6f6f6,#f1f1f1);
background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}


.google-button-red {
border: 1px solid transparent;
color: #fff;
text-shadow: 0 1px rgba(0, 0, 0, 0.1);
text-transform: uppercase;
background-color: #D14836;
background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#d14836));
background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
background-image: -o-linear-gradient(top,#dd4b39,#d14836);
background-image: linear-gradient(top,#dd4b39,#d14836);
}

.google-button-red:active {
border: 1px solid #992A1B;
background-color: #B0281A;
background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#b0281a));
background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
background-image: linear-gradient(top,#dd4b39,#b0281a);
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.google-button-red:hover {
border: 1px solid #B0281A;
color: white;
text-shadow: 0 1px rgba(0, 0, 0, 0.3);
background-color: #C53727;
background-image: -webkit-gradient(linear,left top,left bottom,from(#dd4b39),to(#c53727));
background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
background-image: -o-linear-gradient(top,#dd4b39,#c53727);
background-image: linear-gradient(top,#dd4b39,#c53727);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-ms-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
-o-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
box-shadow: 0 1px 1px rgba(0,0,0,0.2);
text-decoration: none;
-webkit-transition: all 0.0s;
}
