// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map{width: 70%;height: 600px;border: 1px solid #000; float: left; margin-right:10px; margin-left: 10px; margin-top: -10px}

#formalign{
	width: 300px;
	float: right;
	margin-right: 10px;
	padding-left: 5px;
	height: 600px;
	margin-top: -10px;
	font-family: Monaco, Consolas, "Lucida Console", monospace; 
	font-size: 16px;
	color: #000;
	padding-top: 10px;
	background-size: 40px 40px;
}

.mybutton {
	font-size: 16px;
	font-family: Monaco, Consolas, "Lucida Console", monospace; 
}